
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/firebase/firebase.js"></script>
<script src="/vendor/angularfire/dist/angularfire.js"></script>
<script src="/vendor/angular-resource/angular-resource.js"></script>
<script src="/vendor/angular-route/angular-route.js"></script>
<script src="/vendor/get-style-property/get-style-property.js"></script>
<script src="/vendor/get-size/get-size.js"></script>
<script src="/vendor/eventEmitter/EventEmitter.js"></script>
<script src="/vendor/eventie/eventie.js"></script>
<script src="/vendor/doc-ready/doc-ready.js"></script>
<script src="/vendor/matches-selector/matches-selector.js"></script>
<script src="/vendor/fizzy-ui-utils/utils.js"></script>
<script src="/vendor/outlayer/item.js"></script>
<script src="/vendor/outlayer/outlayer.js"></script>
<script src="/vendor/jquery-bridget/jquery.bridget.js"></script>
<script src="/vendor/masonry/dist/masonry.pkgd.min.js"></script>
<script src="/vendor/imagesloaded/imagesloaded.js"></script>
<script src="/vendor/angular-masonry/angular-masonry.js"></script>
<script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="/vendor/videogular/videogular.js"></script>
<script src="/vendor/videogular-controls/vg-controls.js"></script>
<script src="/vendor/videogular-poster/vg-poster.js"></script>
<script src="/vendor/angularjs-toaster/toaster.js"></script>
<script src="/vendor/angular-animate/angular-animate.js"></script>
<script src="/vendor/angular-preload-image/angular-preload-image.js"></script>
<script src="/vendor/lodash/lodash.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/fancybox/source/jquery.fancybox.js"></script>
<script src="/assets/js/app.js"></script>