
<div class="product-cover"><img ng-src="/assets/brands/{{product.image}}" class="img-responsive"/></div>
<div class="product-details">
  <div class="name col-xs-9">{{product.name}}</div>
  <div ng-show="product.priceRange != true" class="price col-xs-3 pull-right text-right">{{product.price | currency: "£"}}</div>
  <div ng-show="product.priceRange == true" class="price col-xs-3 pull-right text-right">From {{product.price | currency: "£"}}</div>
  <div ng-show="!product.price" class="price col-xs-3 pull-right text-right">TBC</div>
  <div class="brand col-xs-12">by <a href="/brand/{{product.brand | charactersRemove}}/products">{{product.brand}}</a></div>
  <div ng-controller="flagsCtrl" class="col-xs-12"><a href="{{product.purchase}}" ng-show="product.purchase" target="_blank" ng-click="lastBought(product.$id)" class="col-xs-3">
      <button class="purchase btn">Buy</button></a>
    <div ng-hide="product.purchase" class="reserve col-xs-3">
      <button ng-hide="ifReserved(product.$id)" ng-click="flagProduct(&quot;reserve&quot;, product.$id)" class="btn">Reserve</button>
      <button ng-show="ifReserved(product.$id)" ng-click="disflagProduct(&quot;reserve&quot;, product.$id)" class="btn">Disreserve</button>
    </div>
    <div class="love col-xs-3">
      <button ng-hide="ifLoved(product.$id)" ng-click="flagProduct(&quot;love&quot;, product.$id)" class="btn">Love</button>
      <button ng-show="ifLoved(product.$id)" ng-click="disflagProduct(&quot;love&quot;, product.$id)" class="btn">Dislove</button>
    </div>
  </div>
  <button class="love-count">{{lovesCount(product.$id)}}</button>
</div>