
<ul>
  <li list-products="list-products" ng-repeat="product in productsInit" class="masonry-brick col-xs-6 col-md-4 col-lg-3 product"></li>
  <li list-products="list-products" ng-repeat="product in productsLoad" class="masonry-brick col-xs-6 col-md-4 col-lg-3 product"></li>
  <li scroll-trigger="loadMore()" threshold="500"></li>
</ul>